<p>stocksummery works!</p>
<div 
*ngIf = "loadingProcess"
class="loaderScreen">
    <div style="height:35%"></div>
    <div class="lds-ripple"><div></div><div></div></div>
    <p>loading ...</p>
</div>


<span (click)="syncLink()" style="position:fixed;z-index: 1;bottom:1px;background-color: black;">
    <img src="../../assets/images/sync.svg" style="height:30px;width: 30px;"></span>
<div class="metal-rate-body-div">
    
    <!-- <span style="font-size: 12px;">TOTAL RECORD  {{resultCount}}</span> -->
  
       <span class="titles">STOCK SUMMERY - {{title}}</span>
      
        <div class="dropdown">
            <!-- <input  type="text" placeholder="SEARCH BRCODE" [(ngModel)]="searchText" (keyup)="filterResults(searchText)"> -->
            <button class="btn"  routerLink="/stocksummery">CATAGORY</button><button routerLink="/itemsummery" class="btn">ITEM</button>
          
            <br>
            <button (click)="openCloseDropdown()" class="dropbtn">{{displayList}}</button>
            <div class="dropdown-content" *ngIf="display == 'show'" (click)="openCloseDropdown()">
              <a *ngFor="let item of item_description" (click)="ItemfilterResults(item)">{{item}}</a>
              <!-- <a *ngFor="let item of item_description" (click)="ItemfilterResults(item)">{{item}}</a> -->
            </div>
            
          </div>
    
   
    <!-- <div style="text-align: center;">
        <span style="font-size: 12px;">Weight Range (gm)</span>
        <br>
      <input type="number"  [(ngModel)]="wtMin" (keyup)="ApplyWtFilter()"><->
       <input type="number"  [(ngModel)]="wtMax" (keyup)="ApplyWtFilter()">
      
    </div> 
    <br>-->
    <!-- <input type="range" class="form-range" min="{{rangeValues[0]}}" max="{{rangeValues[1]}}" step="0.5"  (input)="getWtminVal($event.target)"> -->
    <!-- <button (click)="ApplyFilters()">X</button> -->
   
    <div class="ISpan" style="margin-top: 5px;" *ngIf = "!loadingProcess">
            <span style="position: relative; ">Cat'gry - {{resultCount}}    |    Net WT - {{totalCataWt}}    |     Pcs = {{totalCataPcs}}</span> 
    </div>
   
    <table style="margin-top: 5px;" *ngIf = "!loadingProcess">
    <tr>
        <th class="thl">CATAGORY</th>
        <th class="thm">PCS</th>
        <th class="thr">GROSS WT</th>
        <th class="thr">NET WT</th>
    </tr>
    <tr *ngFor="let makingDetails of filteredLocationList">
        <td class="trl">{{makingDetails.ITEM_CAT}}</td>
        <td class="trm">{{makingDetails.count}}</td>
        <td>{{makingDetails.GRWT}}</td>
        <td>{{makingDetails.NET_WT}}</td>
    </tr>
   </table>
   <table *ngIf="error_screen">
    <tr>
        <td>NO DATA AVAILABLE!!</td>
    </tr>
   </table>

   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
</div>
