<div class="container">
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button style="background: url('../../assets/images/ie_led.png') no-repeat center; height: 120px !important;" routerLink="/codescannerv2"></button>
    <button style="background: url('../../assets/images/ie_stk.png') no-repeat center; height: 120px !important;" routerLink="/Stoclist"></button>         
    <button style="background: url('../../assets/images/ie_pursum.png') no-repeat center; height: 120px !important;" routerLink="/Salesummery"></button>
    <button style="background: url('../../assets/images/ie_salesum.png') no-repeat center; height: 120px !important;" routerLink="/Salesummery"></button>
  </div>
  </div>
  
  