.cart{
    position: relative;
    top:5px;
    left:-10px;
  }
  .cart-counter{
    color: rgb(64, 27, 124);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:0px;
    left:-32px;
    font-weight: bold;
    font-size: 15px;
  }